#burgerMainDiv{
    background-color: aqua;
    width: 60vw;
    height: 80vh;
    position: absolute;
    left: 15%;
    top: 25%;
}

#firstDiv{
    width: 60vw;
    height: 80vh;
}

#pizImg{
    width: 80%;
    height: 90%;
}